h1,h3{
    text-align: center;
    margin: 20px;
}

.container{
    text-align: center;
    padding: 20px;
}

button{
    margin: 20px;
}
.tachado{
    text-decoration: line-through;
}
li{
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 38px;
    
}